{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<div id="intro" class="container">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
              <div class="contents">
                <h2 class="head-title">{% trans 'ERRO 500.' %}</h2>
                <p>{% trans 'Erro de processamento.' %}<br/>
                  {% trans 'Verifique a conexão ou tente novamente' %}<br/>
                  {% trans 'mais tarde.' %}</p>
                <div class="header-button">
                  <a href="{% url 'index' %}" class="btn btn-primary rounded-pill">{% trans 'Página inicial' %}</a>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
              <div class="intro-img">
                <img class="img-fluid shadow-lg rounded-circle imagem-animada" src="https://cf.geekdo-images.com/camo/cba429883803dadea626df689cdbf3ddc0dc1bba/68747470733a2f2f692e696d6775722e636f6d2f456161485557462e6a7067" alt="Oh no" width="400px"/>
              </div>
            </div>
          </div>
        </div>
</div>
{% endblock %}