{% extends 'base.html' %}
{% block content %}
    <!-- Intro Area Start -->
    {% include 'intro.html' %}
    <!-- Intro Area End -->

    <!-- About Section start -->
    {% include 'sobre.html' %}
    <!-- About Section End -->

    <!-- Skills Section start -->
    {% include 'skills.html' %}
    <!-- Skills Section End -->

    <!-- Skills Section start -->
    {% include 'depoimentos.html' %}
    <!-- Skills Section End -->

    <!-- Skills Section start -->
    {% include 'contato.html' %}
    <!-- Skills Section End -->

{% endblock %}