{% load static %}
{% load i18n %}
<div id="skills">
    <div class="container">
        <div class="section-header text-center">
            <h2 class="espacar">{% trans 'HABILIDADES' %}</h2>
            <p>{% trans 'Passe o mouse por cima de alguma das habilidades.' %}</p>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="skills-item">
                    <div class="icon">
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg"/>
                    </div>
                    <div class="skills-content">
                        <h3 class="espacar">
                            <a href="https://docs.python.org/3/" target="_blank" rel="noopener noreferrer">
                                Python
                            </a>
                        </h3>
                        <p class="descricao0"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="skills-item">
                    <div class="icon">
                        <img height="60" width="60" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/django/django-plain-wordmark.svg"/>
                    </div>
                    <div class="skills-content">
                        <h3 class="espacar">
                            <a href="https://docs.djangoproject.com/en/4.1/" target="_blank" rel="noopener noreferrer">
                                Django
                            </a>
                        </h3>
                        <p class="descricao1"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="skills-item">
                    <div class="icon">
                        <img height="60" width="60" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-plain-wordmark.svg"/>
                    </div>
                    <div class="skills-content">
                        <h3 class="espacar">
                            <a href="https://dev.mysql.com/" target="_blank" rel="noopener noreferrer">
                                MySQL
                            </a>
                        </h3>
                        <p class="descricao2"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="skills-item">
                    <div class="icon">
                        <img height="60" width="60" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original-wordmark.svg"/>
                    </div>
                    <div class="skills-content">
                        <h3 class="espacar">
                            <a href="https://www.postgresql.org/" target="_blank" rel="noopener noreferrer">
                                PostgreSQL
                            </a>
                        </h3>
                        <p class="descricao3"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="skills-item">
                    <div class="icon">
                        <img height="60" width="60" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sqlite/sqlite-original-wordmark.svg"/>
                    </div>
                    <div class="skills-content">
                        <h3 class="espacar">
                            <a href="https://www.sqlite.org/index.html" target="_blank" rel="noopener noreferrer">
                                SQLite
                            </a>
                        </h3>
                        <p class="descricao4"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="skills-item">
                    <div class="icon">
                        <img height="60" width="60" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-plain-wordmark.svg"/>
                    </div>
                    <div class="skills-content">
                        <h3 class="espacar">
                            <a href="https://www.mongodb.com/" target="_blank" rel="noopener noreferrer">
                                MongoDB
                            </a>
                        </h3>
                        <p class="descricao5"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="skills-item">
                    <div class="icon">
                        <img height="60" width="60" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/redis/redis-original-wordmark.svg"/>
                    </div>
                    <div class="skills-content">
                        <h3 class="espacar">
                            <a href="https://redis.io/" target="_blank" rel="noopener noreferrer">
                                Redis
                            </a>
                        </h3>
                        <p class="descricao6"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="skills-item">
                    <div class="icon">
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/couchdb/couchdb-original.svg"/>
                    </div>
                    <div class="skills-content">
                        <h3 class="espacar">
                            <a href="https://couchdb.apache.org/" target="_blank" rel="noopener noreferrer">
                                CouchDB
                            </a>
                        </h3>
                        <p class="descricao7"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xs-12">
                <div class="skills-item">
                    <div class="icon">
                        <img height="65" width="65" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original-wordmark.svg"/>
                    </div>
                    <div class="skills-content">
                        <h3 class="espacar">
                            <a href="https://git-scm.com/" target="_blank" rel="noopener noreferrer">
                                Git
                            </a>
                        </h3>
                        <p class="descricao8"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>