#form_depoimento {
  min-height: 700px;
  max-width: 1800px;
  position: relative;
  overflow: hidden;
  padding: 80px 0 80px;
}

#form_depoimento a {
  text-decoration: none;
}

#form_depoimento a:hover {
  color: #fff;
}

#form_depoimento .col-nota {
  width: 158px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

#depoimento_del {
  min-height: 700px;
  max-width: 1800px;
  position: relative;
  overflow: hidden;
  padding: 160px 0 80px;
}

#depoimento_del a {
  text-decoration: none;
}

#depoimento_del a:hover {
  color: #fff;
}